# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de build
dist/
out/
build/
.vite/

# Fichiers de cache
.cache/
.parcel-cache/
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.production

# Logs
*.log
